@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	background-image: url(../assets/fondolibrospatron.jpg);
}
#global{
		display: grid;
		grid-template-areas:
		"nav"
		"intro"
		"ad"
		"footer";
		height: 100vh;
		grid-row-gap: 1rem;		
	}
	/*----------NARRACIONES----------------*/
#globalNarraciones{
		display: grid;
		grid-template-areas:
		"nav"
		"cuentos"		
		"footer";
		height: 100vh;
		grid-row-gap: 1rem;
	}		

	#globalNarraciones .cuentos {
    	grid-area: cuentos;
   	 	display: flex;
    	flex-wrap: wrap;
    	align-content: flex-start;
   		height: 90%;
    	width: 100%;
    	padding: 1rem;
    	background-color: rgba(255, 255, 255, 0.6);
	}
	.cuentos .cuento{		
		padding: 1rem;
	}

	/*----------NARRACIONES----------------*/

	/*----------PRACTICAS----------------*/
#globalPracticas{
		display: grid;
		grid-template-areas:
		"nav"
		"practica"
		"video"		
		"footer";
		height: 100vh;
		grid-row-gap: 1rem;
	}
	#globalPracticas .practica{		
    	grid-area: practica;
   	 	display: flex;
    	flex-wrap: wrap;    	
   		height: 100%;
    	width: 100%;
    	padding: 1rem;
    	background-color: rgba(255, 255, 255, 0.6);	
    	justify-content: center;
	}
	.practica .ejercicio{		
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
	}

	#globalPracticas .videoConsejo{		
    	grid-area: video;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		width: 100%;
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.6);
		align-items: center;
		flex-direction: column;
	}
	.videoConsejo .videoYouTube{		
		display: flex;
		flex-wrap: wrap;
	}
	/*----------PRACTICAS----------------*/
	/*----------RECOMENDACIONES----------------*/
	#globalReco{
		display: grid;		
		grid-template-areas:		
		"nav"
		"recomendaciones"
		"footer";
		height: 100vh;
		grid-row-gap: 1rem;
		justify-content: space-evenly;

	}
	.fondo{
		grid-area: recomendaciones;
		display: inline-flex;
		flex-wrap: wrap;		
		flex-direction: row;
		padding-top: 1rem;
		background-color: rgba(255, 255, 255, 0.6);
		justify-content: center;
	}
	.fondo .recomendaciones{		
		display: flex;
		flex-wrap: wrap;
		height: 100%;	
		align-content: space-evenly;	
	}
	.fondo .recomendaciones ul{
		display: flex;
		flex-wrap: wrap;		
		flex-direction: row;
		justify-content: center;
	}

	/*----------RECOMENDACIONES----------------*/
	/*--------------CONTACTO--------------------*/
	#globalContact{
		display: grid;
		grid-template-rows: min-content;		
		grid-template-areas:		
		"nav"
		"formulario"
		"ad"
		"footer";
		height: 100vh;
		grid-row-gap: 1rem;
		justify-content: space-evenly;

	}
	.formulario{
		grid-area: formulario;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.6);
		flex-direction: column;
	}
	#globalContact .ad{
		display: flex;
		grid-area: ad;
		background-color: blueviolet;
		width: 80%;
		justify-self: center;
		height: 100%;
		background-image: url(../assets/escribiendo_cel.jpg);
		background-position: center;
		background-size: cover;		
	}
	/*--------------CONTACTO--------------------*/
	/*---------------------HEADER CEL------------------------*/	
	 #header{
		grid-area: nav;
		display: flex;
		width: 100%;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		background-color: white;
		height: fit-content;
		background-color: rgba(255, 255, 255, 0.6);
		z-index: 1000;
	}
	#header .logo{				
		align-self: center;		
	}
	#header .logo img{		
		height: 3rem;		
	}	
	#header .nav ul{
		display: flex;
		flex-flow: row wrap;
		list-style-type: none;	
		justify-content: center;
	}
	.nav{		
		align-self: center;	
	}	
	.nav a{
		text-decoration: none;
		border: 0.1rem solid blueviolet;
		padding: 0.3rem;
		background-color: white;
		font-family: 'Dancing Script', cursive;
		font-size: 1rem;
		font-weight: 700;

	}
	#header .nav .active a{
		color: #00b8bc;
	}


	/*---------------------HEADER CEL FIN------------------------*/

	/*---------------------BODY CEL INDEX----------------------------*/
	.libreriaFondo{
		grid-area: intro;
		width: 80%;
		display: flex;
		justify-self: center;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.ad{
		display: flex;
		grid-area: ad;
		background-color: blueviolet;
		width: 80%;
		justify-self: center;
		height: 100%;
		background-image: url(../assets/escribiendo_cel.jpg);
		background-position: center;
		background-size: cover;
	}
	.ad p{		
		align-self: center;
		width: 100%;
		color: white;
		font-size: 2rem;		
	}
	/*---------------------BODY CEL INDEX----------------------------*/
	
	/*---------------------FOOTER CEL------------------------*/	
	#footer{
		grid-area: footer;
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		justify-content: space-evenly;		
	}
	#footer .redesSociales {
		align-self: center;
		padding-right: 2rem;
	}
	#footer .redesSociales ul{
		padding-left: 2rem;		
		list-style-type: none;		
		flex-flow: row wrap;
	}
	#footer .redesSociales a{
		padding-left: 0.5rem;		;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.6);
		color: black;
		font-weight: 600;
	}
	#footer .firma{		
    	align-self: center;
    	background-color: rgba(255, 255, 255, 0.6);
    	color: black;
		font-weight: 600;
	}
	
/*---------------------FOOTER CEL FIN------------------------*/

/*----------------------------------ADAPT DESK----------------------------------------------*/

@media all and (min-width: 1300px){
	body{
		background-color: white;
		background-image: none;
	}
	#global{
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: 5% 2fr 2fr 1fr 5%;
	grid-template-areas:
	"nav nav nav nav nav"
	". intro intro ad ."
	". intro intro ad ."
	"footer footer footer footer footer";
	height: 100vh;
	justify-content: space-evenly;
	grid-column-gap: 3rem;
	grid-row-gap: 2rem;	
}

/*---------------NARRACIONES DESK-----------------------*/
#globalNarraciones{
		display: grid;
		grid-template-rows: 1fr 7fr 1fr;
		grid-template-columns: 5% 2fr 2fr 1fr 5%;
		grid-template-areas:
		"nav nav nav nav nav"
		". cuentos cuentos cuentos ."		
		"footer footer footer footer footer";
		height: 100vh;
		justify-content: space-evenly;
		grid-column-gap: 3rem;
		grid-row-gap: 2rem;
	}		

	#globalNarraciones .cuentos {
    	grid-area: cuentos;
   	 	display: flex;
    	flex-wrap: wrap;
    	align-content: space-evenly;
   		height: 100%;
    	width: 100%;
    	padding: 1rem;
    	background-color: rgba(255, 255, 255, 0.6);
	}
	.cuentos .cuento{
		/*flex: min-content; esto para desk*/
		padding: 1rem;

	}
/*---------------NARRACIONES DESK-----------------------*/
/*-----------------PRACTICAS DESK-----------------------*/
#globalPracticas{
		display: grid;
		grid-template-rows: 1fr 4fr 4fr 1fr;
		grid-template-columns: 5% 2fr 2fr 1fr 5%;
		grid-template-areas:
		"nav nav nav nav nav"
		". practica practica practica ."
		". video video video ."		
		"footer footer footer footer footer";
		height: 100vh;
		justify-content: space-evenly;
		grid-column-gap: 3rem;
		grid-row-gap: 2rem;
	}
	#globalPracticas .practica{		
    	grid-area: practica;
   	 	display: flex;
    	flex-wrap: wrap;    	
   		height: 100%;
    	width: 100%;
    	padding: 1rem;
    	background-color: rgba(255, 255, 255, 0.6);	
    	justify-content: center;
	}
	.practica .ejercicio{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
	}

	#globalPracticas .videoConsejo{		
    	grid-area: video;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		width: 100%;
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.6);
		align-items: center;
		flex-direction: column;
		background-color: #9fe5b1;
	}
/*-----------------PRACTICAS DESK-----------------------*/

/*-----------------CONTACTO DESK-----------------------*/
	#globalContact{
		display: grid;
		grid-template-rows: 1fr 4fr 4fr 1fr;
		grid-template-columns: 5% 2fr 2fr 1fr 5%;
		grid-template-areas:
		"nav nav nav nav nav"
		". form form form ."
		". ad ad ad ."		
		"footer footer footer footer footer";
		height: 100vh;
		justify-content: space-evenly;
		grid-column-gap: 3rem;
		grid-row-gap: 2rem;
	}
	#globalContact .formulario{
		grid-area: form;
		padding: 5rem;
	}
	#globalContact .ad{
		grid-area: ad;
		grid-area: ad;
		display: flex;
		flex-flow: row wrap;
		background-image: url(../assets/escribiendo_desk.jpg);
		background-position: center;
		background-size: cover;	
		width: 100%;
		height: 100%;
	}
/*-----------------CONTACTO DESK-----------------------*/

/*-----------------RECOMENDACIONES DESK----------------*/
	#globalReco{
		#globalContact
		display: grid;		
		grid-template-areas:
		"nav nav nav nav nav"
		". reco reco reco ."			
		"footer footer footer footer footer";
		height: 100vh;
		justify-content: space-evenly;
		grid-column-gap: 3rem;
		grid-row-gap: 3rem;	
	}
	#globalReco .fondo{
		grid-area: reco;
	}
/*-----------------RECOMENDACIONES DESK----------------*/

/*---------------------HEADER DESK--------------------*/
#header{
	grid-area: nav;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 1000;	
}
#header .nav{	
	flex-grow: 1;
	align-self: center;		
}
#header .nav ul{	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style-type: none;		
}
.nav a{
	padding: 0 5rem;
	text-decoration: none;
	color: #000;
	border: 0.2rem solid;
	font-size: 2rem;
	
}
#header .logo img{
	padding: 0 5rem;
	height: 5rem;
}

/*---------------------HEADER FIN------------------------*/

/*------------------------BODY INDEX DESK---------------------*/
.libreriaFondo{	
	grid-area: intro;
	display: flex;
	background-position: center;
	background-size: cover;
	background-image: url(../assets/librosfondodibujados_escritorio.jpg);
	width: 100%;
	height: 100%;
	color: black;
	font-size: 2.2rem;
	justify-self: center;
	align-self: center;	
}
.libreriaFondo p{
	justify-self: center;
	align-self: center;
	background-color: rgba(255, 255, 255, 0.6);
	
}
.ad{
	grid-area: ad;
	display: flex;
	flex-flow: row wrap;
	background-image: url(../assets/escribiendo_desk.jpg);
	background-position: center;
	background-size: cover;	
	width: 100%;
	height: 100%;	
}
/*---------------------FIN BODY INDEX DESK---------------------*/
.cuentos{
	grid-area: intro;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	padding: 1rem;
	align-items: center;
}
.cuentos .cuento{
	flex: 1;
	padding: 0.9rem;
	bo
}
/*---------------------BODY NARRACIONES DESK---------------------*/

/*---------------------FIN BODY NARRACIONES DESK---------------------*/

/*---------------------FOOTER----------------------------*/

#footer{
	grid-area: footer;	
	display: flex;
	flex-flow: row;	
	justify-content: space-evenly;
	height: fit-content;
}
#footer .redesSociales{	
	flex-grow: 1;	
}
#footer .redesSociales ul{	
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;	
	list-style-type: none;	
	justify-content: space-evenly;
}
#footer .redesSociales a{
	padding: 0 5rem;
	text-decoration: none;
	color: #000;
}
#footer .firma p{
	justify-self: center;
	align-self: center;
   	align-self: center;
    justify-self: center;      
    background-color: white;
    color: black;
	font-weight: 600;
}

} 
	

