@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;400;600&display=swap");
.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 600;
}

.font-weight-bold-cursive {
  font-weight: 700;
}

body {
  background-image: url("../assets/fondo002.jpg");
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat';
  font-weight: 300;
}

.tipografia {
  color: white;
  font-size: 1rem;
  padding-top: 1em;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

@media all and (min-width: 768px) {
  .tipografia {
    font-size: 1.5rem;
  }
}

.tipografia--black {
  color: black;
  font-size: 1rem;
  padding-top: 1em;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

@media all and (min-width: 768px) {
  .tipografia--black {
    font-size: 1.5rem;
  }
}

.tipografia--letraChica {
  color: white;
  font-size: 0.8rem;
  padding-top: 1em;
}

@media all and (min-width: 768px) {
  .tipografia--letraChica {
    font-size: 1.1rem;
  }
}

.resetLink {
  text-decoration: none;
  list-style-type: none;
}

.imgAd {
  background-image: url("../assets/escribiendo_cel.jpg");
  background-position: center;
  background-size: cover;
  min-height: 20vh;
  max-width: 90%;
}

.fondoBlueTrans {
  background: rgba(0, 12, 76, 0.6);
  background-position: center;
  background-size: cover;
}

@media all and (min-width: 768px) {
  .fondoBlueTrans {
    background: none;
  }
}

.fondoPapiro {
  background-color: #f4db9d;
}

.fondoGradieinte {
  background: linear-gradient(135deg, #002a76 46%, #002a76 46%, #001453 86%);
}

.minHeight {
  min-height: 100vh;
}

.overflow {
  overflow-x: hidden;
}

.bordesTextos {
  border: 0.1rem solid black;
  border-radius: 25px 25px 25px 25px;
  padding: 1rem;
}

.letraCursiva {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 1.5rem;
}

.radio {
  border-radius: 25px 25px 25px 25px;
}

.radio--medium {
  border-radius: 15px 15px 15px 15px;
}

.cuentos div:nth-child(2n) {
  align-self: flex-end;
}

.cuentos button {
  transition: all 200ms ease-in-out;
}

.cuentos button:hover {
  transform: scale(1.1);
}

.buttonM {
  background-color: #f4db9d;
  color: black;
  border-radius: 25px 25px 25px 25px;
  font-family: Dancing Script;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.cruzM {
  background-color: red;
  border-radius: 25px 25px 25px 25px;
}

.papiro {
  background-image: url("../assets/fondopapiro.jpg");
  background-position: center;
  background-size: cover;
}
