.tipografia{
	font-size: 1rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	margin-top: 1em;
	margin-bottom: 1em;
}
.fondo{
	background: linear-gradient(135deg,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
}
.resetLink{
	text-decoration: none;
	color: black;
	list-style-type: none;
}
.imgFondo{
	background-image: url(../assets/librosfondodibujados_escritorio.jpg);
	background-position: center;
	background-size: cover;			
}
.imgAd{
	background-image: url(../assets/escribiendo_desk.jpg);
	background-position: center;	
	background-size: cover;	
	min-height: 20vh;
}
.textWhite{
	color: white;	
}

@media all and (min-width: 768px){
	.imgFondo{
		min-height: 100vh;
	}
	.tipografia{
		font-size: 2rem;
	}
	.imgAd{				
	}
	.fondo{
		min-height: 100vh;
	}
}