@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');
body{	
	background-image: url(../assets/fondolibrospatron.jpg);
	background-position: center;
	background-size: repeat;
}
.tipografia{
	font-size: 1rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	margin-top: 1em;
	margin-bottom: 1em;
}
.resetLink{
	text-decoration: none;
	color: black;
	list-style-type: none;
}

.imgAd{
	background-image: url(../assets/escribiendo_desk.jpg);
	background-position: center;	
	background-size: cover;	
	min-height: 20vh;
}
.textWhite{
	color: white;	
}

.fondoBlanco{
		background:rgba(255,255,255, 1.1);
		background-position: center;
		background-size: cover;	
}
.fondoGris{
	background-color: #F3F3F2;
}
.fondoGradieinte{
	background: linear-gradient(135deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}
@media all and (min-width: 768px){
	.minHeight{
		min-height: 100vh;
	}
	.tipografia{
		font-size: 1.5rem;
	}
	.imgAd{				
	}	
}
.overflow{
	overflow-x: hidden;
}
.bordesTextos{
	border: 0.1rem solid black;
	border-radius: 25px 25px 25px 25px;
	padding: 1rem;
}
.letraCursiva{
	font-family: 'Dancing Script', cursive;	
	font-weight: 700;
	font-size: 1.5rem;
}

.radio{
	border-radius: 25px 25px 25px 25px;
}
.ancho{
	width: 50%;
}